/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 10;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, #FF6C87, #FC7246);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}